* {
    bg-col:  #141315;
    bg-col-light: #1a191a;
    border-col: #c8c3e2;
    selected-col: #c8c3e2;
    blue: #c8c3e2;
    fg-col: #e5e1e4;
    fg-col2: #141315;
    grey: #47464d;

    width: 800;
    height: 600;
    font: "Iosevka 16";
}

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

window {
    // height: 512px;
    border: 2px;
    border-color: @border-col;
    background-color: @bg-col;
}

mainbox {
    background-color: @bg-col;
}

inputbar {
    children: [prompt,entry];
    background-color: @bg-col;
    border-radius: 5px;
    padding: 2px;
}

prompt {
    background-color: @blue;
    padding: 6px;
    text-color: @bg-col;
    border-radius: 3px;
    margin: 6px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6px;
    margin: 6px;
    text-color: @fg-col;
    background-color: @bg-col;
}

listview {
    border: 0px 0px 0px;
    padding: 8px;
    // margin: 10px 0px 0px 20px;
    columns: 2;
    lines: 5;
    background-color: @bg-col;
}

element {
    padding: 8px;
    background-color: @bg-col;
    text-color: @fg-col;
    border-radius: 3px;
}

element-icon {
    size: 25px;
}

element selected {
    background-color:  @selected-col ;
    text-color: @fg-col2  ;
}

mode-switcher {
    spacing: 0;
}

button {
    padding: 10px;
    background-color: @bg-col-light;
    text-color: @grey;
    vertical-align: 0.5; 
    horizontal-align: 0.5;
}

button selected {
  background-color: @bg-col;
  text-color: @blue;
}

message {
    background-color: @bg-col-light;
    // margin: 2px;
    // padding: 2px;
    border-radius: 5px;
}

textbox {
    padding: 6px;
    // margin: 20px 0px 0px 20px;
    text-color: @blue;
    background-color: @bg-col-light;
}
